.Contact-hero {

  
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9eef5 !important;

}

.contact {



}

.Contact-hero h2 {

    font-weight: 200;
    font-size: 3rem;

}

.contact-form{

    border-bottom: 3px dotted #eee;
    padding: 3rem;

}

.get-in h3{

    font-weight: 600;

}







/* Responsive */
@media only screen and (max-width: 481px) {


    .contact{

        padding: 3rem 0rem 3rem 0rem;

    }
    .Contact-hero h2{

        font-weight: 700;
        font-size: 2.5rem;

    }

    .contact-form{

        padding: 0rem;

    }

    .get-in p{

        font-size: smaller;

    }

    .margin-get{

        margin-top: 2rem !important; 
        margin-bottom: 3rem;

    }


}