* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;;

}



body::-webkit-scrollbar {

    display: none
}


html {

    scroll-behavior: smooth
}




.foot-link {

    text-decoration: none !important;
    color: #cfd6e1 !important;
    margin-bottom: 5rem !important;
    font-size: 18px;
    font-weight: 200;

}

.foot-link:hover {

    color: #68bb7d !important;

}

.h2 {

    color: #cfd6e1 !important;
    font-weight: 300 !important;

}

.footer-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.footer-icons li {
    display: inline-block;
}

.foot-social {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid #2d343f !important;
    border-radius: 50%;
    color: #cfd6e1;
    text-align: center;
    line-height: 40px;
    transition: all 0.2s ease-in-out;
    font-size: 1.3rem;
}

.foot-social:hover {
    background-color: #fff;
    color: #000;
}


.policy-hover:hover {

    color: #68bb7d !important;

}



/* Slider */


.carousel-indicators .active {

    background-color: #32CD32 !important;

}


.carousel-indicators [data-bs-target] {

    background-color: #05ad05 !important;

}



.slider-text h1 {

    font-size: 48px !important;
    font-weight: 100 !important;
    color: #212529 !important;


}

.slider-text {

    padding-bottom: 3rem;
    padding-left: 8rem;

}

.slider-text p {

    font-weight: 300;
    font-size: 18px;

}

.about-head h1{ 


   
    font-size: 48px !important;
    font-weight: 100 !important;
    color: #212529;


}

.about-head p{


    font-size: 17px !important;
    font-weight: 300 !important;
    color: #212529;
    text-align: justify;

}


@media only screen and (max-width: 481px) {



    .slider-text {

        padding-bottom: 3rem;
        padding-left: 2rem !important;

    }



}